<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://dessert/styles/general.css">
    <link rel="stylesheet" href="http://dessert/styles/footer.css">
</head>
<footer>
    <hr>
    <div class="footer">
        <div>
            <p>@hrartdessert</p>
        </div>

        <div>
            <p>Copyright © 2022 ART dessert</p> 
        </div>
        
        <div class="social">
            <a href="#"><img src="http://dessert/images/instagram.svg" alt="instagram"/></a>
            <a href="#"><img src="http://dessert/images/twitter.svg" alt="twitter"/></a>    
            <a href="#"><img src="http://dessert/images/pinterest.svg" alt="pinterest"/></a>    
        </div>
    </div>
    
</footer>