.section-namee{
    font-family: Kudryashev Display Regular;
    font-size: 48px;
    color: black;
    text-align: center;
    margin: 0%;
    margin-bottom: 2%;
}

.error{
    font-family: Gilroy Regular;
    font-size: 18px;
    text-align: center;
}

main{
    min-height: 500px;
    margin: 3% 15%;
}

.basket-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1% 10%;
}

.basket-item img{
    width: 180px;
}

.basket-btn{
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: 1px solid #9F3939;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    margin: 0% 2%;
}

.basket-btn:hover{
    cursor: pointer;
    background-color: #9F3939;
    transition: 0.5s;
}

.basket-price{
    width: 150px;
    text-align: center;
}

.dessert-name{
    width: 200px;
    margin: 0% 10%;
}

.other-btn{
    padding: 10px 50px;
    margin-top: 50px;
    margin-left: 42%;
    border: 1px solid #9F3939;
    border-radius: 30px;
    font-family: Gilroy Regular;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    background-color: #9f39396e;
    transition: 0.5s;
}

.other-btn:hover{
    background-color: #9F3939;
    color: white;
}

.delete-btn{
    width: 34px;
    height: 34px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    transition: 0.5s;
    margin: 0% 2%;
}