<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://domains/dessert/styles/general.css">
</head>
<main>
    <section class="main">
        <p class="name">ART dessert</p>
        <p class="offer">Широкий выбор десертов на любой вкус</p>
        <a class="btn" href="http://dessert/views/dessert/dessert.php">ДЕСЕРТЫ</a>
    </section>

    <section class="dessert">
        <div>
            <p class="section-name">ДЕСЕРТЫ</p>
            <p>Кондитеры в компании ART dessert всегда готовят достойные десерты на любой вкус и выбор. 
                Большое количество начинок, украшения и немного фантазии могут вторить чудеса.
                <br><br>
                Все изделия сделаны полностью вручную, начиная от замеса простых продуктов: 
                яйца, муки и до шоколадного декора.
            </p>
        </div>
        <img class="section-image" src="http://dessert/images/main_section.png"/>
    </section>

    <section class="second-main">

    </section>


    <section class="company">
        <div>
            <p class="section-name">КОМПАНИЯ</p>
            <p>В создании продукции ART dessert используют только натуральные продукты, без искусственных красителей и ароматизаторов. 
                Классические десерты авторской интерпретации и необычные сочетания вкусов. 
                <br><br>
                Наши кондитеры делают сами тесто, пасты, муссы, фруктовые и ягодные пюре и гели, кремы, макароны, мармелад и многое другое.
            </p>
        </div>
        <img class="section-image" src="http://dessert/images/main_section2.png"/>
    </section>

    <section class="delivery">
        <div>
            <p class="section-name">ДОСТАВКА</p>
            <p>Доставка по Минску с 10 по 20 ч
                <br><br>
                Бесплатная доставка
                <br><br>
                Оплата курьеру картой или наличными
                <br><br><br>
            </p>
            <a class="btn" href="http://dessert/views/dessert/dessert.php">ДЕСЕРТЫ</a>
        </div>

        <div class="second-div">
            <p> <br><br><br><br><br>
                1. Добавить товары в корзину на сайте
                <br><br>
                2. Оставить контакты для согласования и сведения для доставки
                <br><br>
                3. Оформить заказ
                <br><br>
                4. После оформления оператор созвонится, чтобы уточнить все данные
                <br><br>
                5. Ожидание доставки и оплата
            </p>
        </div>

        
    </section>
</main>